10 0 * * *  backup rm -rf /home/backup/influxdb/*; influxd backup -portable -database telegraf /home/backup/influxdb

15 0 * * 0 backup duplicity full --no-encryption /home/backup/influxdb/ rsync://bematv@backup//home/bematv/influxdb/

20 0 * * 1-6 backup duplicity incremental --no-encryption /home/backup/influxdb/ rsync://bematv@backup//home/bematv/influxdb
